$color_1: #fff;
$background_color_2: rgba(0, 0, 0, 0.342);
$playerSecondary: #ff4700;

.listContainer {
  position: relative;
  margin: 0 auto;
  width: 100%;
  overflow-y: auto;
}

.searchBox {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 15px;

  .searchText {
    width: calc(100% - 60px);
    padding: 15px 0 15px 20px;
    font-size: 16px;
    border: 0 none;
    height: 52px;
    color: white;
    outline: none;
    background: #141f27;
    box-sizing: border-box;
    transition: all 0.15s;
  }

  .searchButton {
    border: 0 none;
    opacity: 0.8;
    // better to store images locally(all assets)
    background: #1f2933
      url(https://designmodo.com/demo/dropdown-menu-search/search.png) center
      no-repeat;
    width: 60px;
    margin-top: 50px;
    padding: 21px;
    text-align: center;
    height: 52px;
    cursor: pointer;
    outline: none;
  }

  .searchClear {
    background: #1f2933 url(../../images/cross.svg) center no-repeat;
    background-size: 18px;
  }
}

.plList {
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: auto;

  .activeTrack {
    background-color: #26303c;
  }

  li {
    cursor: pointer;
    display: block;
    margin: 0;
    padding: 21px 0;
    opacity: 0.75;

    &:hover {
      opacity: 1;
      background-color: $background_color_2;
    }
  }
}

.plItem {
  position: relative;
}

.plTitle {
  left: 50px;
  overflow: hidden;
  position: absolute;
  right: 65px;
  text-overflow: ellipsis;
  top: 0;
  white-space: nowrap;
}

.plNum {
  padding-left: 21px;
  width: 25px;
  opacity: 0.3;
}

.plLength {
  padding-left: 21px;
  position: absolute;
  right: 21px;
  top: 0;
}

.plSel {
  background-color: $background_color_2;
  color: $color_1;
  cursor: default !important;
  &:hover {
    background-color: $background_color_2;
    color: $color_1;
    cursor: default !important;
  }
}
