$shadowColor: #121212;
$playerSecondary: #ff4700;
$bgColor: #1d2d3a;
$white: #fff;

@mixin generate-gradient($color) {
  background: linear-gradient(
    to bottom,
    rgba($color, 0) 0%,
    rgba($color, 1) 100%
  );
}

.player {
  background: darken($bgColor, 3);
  overflow: hidden;
  box-shadow: 0 5px 10px -5px rgba($shadowColor, 1);
  position: relative;
  padding-top: 180px;

  .trackInformation {
    text-align: center;
    top: 40px;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    padding: 0 35px;

    .name {
      font-size: 24px;
      font-weight: 300;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .title {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    position: absolute;
    top: 10px;
    left: 20px;
    opacity: 0.5;
  }

  .scrubber {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    opacity: 0.2;
    transition: opacity 0.25s ease;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;

    &:hover {
      // outline: $playerSecondary;
    }

    .scrubber-progress {
      @include generate-gradient($playerSecondary);
      height: 100%;
      width: 0%;
      transition: width 0.25s ease;
      pointer-events: none;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }

  .timestamps {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    pointer-events: none;
    z-index: 2;
    width: 100%;

    .time {
      font-size: 12px;
    }
  }

  a.fa-volume-off + .volume-level > em {
    display: none;
  }

  .volume-mute {
    position: absolute;
    bottom: 58px;
    right: 25px;
    opacity: 0.7;
    text-align: left;
    min-width: 10px;
    &:hover {
      opacity: 0.9;
    }
  }

  .volume-slider {
    position: absolute;
    bottom: 80px;
    right: 30px;

    .rangeslider__handle {
      width: 15px;
      height: 15px;
      left: -6px;
      border-radius: 50%;
      background-color: rgb(204, 203, 203);
      box-shadow: 0 1px 1px #333;
      outline: none;

      &:hover {
        background-color: rgb(255, 255, 255);
      }
    }

    .rangeslider__fill {
      background-color: $playerSecondary;
      opacity: 0.5;
      height: 80px;
      width: 3px;
      margin: 0 auto;
    }

    .rangeslider-vertical {
      opacity: 0.9;
      height: 80px;
      width: 3px;
      margin: 0 auto;
      background-color: rgb(56, 54, 71);
    }
  }

  .volume-level {
    display: none;
    position: absolute;
    bottom: 120px;
    right: -7px;
    transform: rotate(-90deg);
    max-width: 80px;
    width: 80px;
    height: 6px;
    padding: 1px;
    overflow: hidden;
    border: 1px solid #fff;
    border-radius: 3px;
    box-shadow: 0 1px 5px #000, inset 0 1px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: all 0.3s;
    opacity: 0.75;
    > em {
      display: block;
      height: 6px;
      max-width: 100%;
      background: #fff;
      box-shadow: 0 1px 5px #000;
      border-radius: 1.5px;
    }
    &:hover {
      opacity: 1;
    }
  }

  .controls {
    position: absolute;
    bottom: 8%;
    pointer-events: none;
    margin: auto;
    left: 0;
    right: 0;

    .controlBox {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .button--play {
      border: 2px solid rgba($white, 0.5);
    }

    .button {
      height: 75px;
      width: 75px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 75px;
      box-shadow: 0 5px 10px 0px rgba($shadowColor, 0.125);
      pointer-events: all;

      &:active {
        transform: scale(0.98);

        .button--play {
          background: $white;
        }

        .fa {
          color: $playerSecondary;
          opacity: 1;
        }
      }

      .fa {
        color: $white;
        opacity: 0.5;
        font-size: 24px;

        &.fa-play {
          margin-left: 5px;
        }
      }
    }
  }
}
