$blue: #1d2d3a;
$background_color: darken($blue, 10);

.homeContainer {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  max-height: 100vh;

  .footer {
    margin-top: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $background_color;

    .footerText {
      opacity: 0.6;
    }
  }
}
